<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="scrapping">
		<classes>
			<class name="com.MorbidAllergies.Hypothyroidism_Allergy"></class>
			<class name="com.MorbidConditions.HypothyrodismEliminate"></class>
			<class name="com.MorbidConditions.Hypothyroidism_Add"></class>
			<class name="com.MorbidConditions.Hypothyroidism"></class>
			<class name="com.MorbidConditions.LunchHyperthyroidism_Eliminate"></class>
			<class name="com.RecipeFoodCategory.LunchRecipe_WithfoodCat"></class>
		</classes>
	</test>
	
</suite>
